<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"  type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <title>Title</title>
</head>
<style>
            UL{
    color: black;
    font-family: 'Amatic SC', cursive;
            font-weight: bold;
            font-size: 200%;}
.nav-pills > li.active > a{
   background-color:   black;
}
.nav-pills > li > a {
    color: black;
}
     .center-img {
  display: block;
  margin: 170px;
}
     .fig {
    text-align: center; /* Выравнивание по центру */
            font-family: 'Amatic SC', cursive; color: white
   }
          .round2 {

            height: 100px;
            width: 100px;
    border-radius: 300px; /* Радиус скругления */
    border: 3px black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   }
     .round {

            height: 300px;
            width: 300px;
    border-radius: 300px; /* Радиус скругления */
    border: 3px black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   }
</style>
<body>
<div  id="p" class="container-fluid"  >
    <div class="row"style="background-color: black">
        <div class="col-sm-4">
              <p  class="fig" href="{% url 'aphp' %}"  ><img
           src={% static "image/кх.png"%} class="round" >
                </p>
        </div>
        <div class="col-sm-8">
            <p style="text-align: center; font-family: 'Amatic SC';color: white; font-size: 500%; padding: 5%">Кафедра автоматизации процессов химической промышленности</p>
        </div>
</div>
</div>


    <div class="container-fluid" style="padding: 350px">
        <h1 align="center"     style=" font-size: 500%; font-family: 'Amatic SC', cursive; color: black; padding: 10%">Информация</h1>
            <div class="row"><div class="col-sm-4">
            <ul class="nav nav-pills nav-stacked" >

                        <li class="active"><a data-toggle="pill" href="#step1">Заведующий кафедрой </a></li>




                        <li><a data-toggle="pill" href="#step2">Контакты</a></li>



                        <li><a data-toggle="pill" href="#step3">Бакалавриат</a></li>



                        <li><a data-toggle="pill" href="#step4">Магистратура</a></li>



                        <li><a data-toggle="pill" href="#step5">Аспирантура</a></li>

                         <li><a data-toggle="pill" href="#step6">История кафедры</a></li>

            </ul>
         </div>

            <div class="col-sm-8">
                <div class="tab-content">
                    <div id="step1" class="tab-pane fade in active">
                        <p style="text-align: center;"> <img
           src={% static "image/rusinov.jpg"%}  ></p><br>
 <p> Заведующий кафедрой – профессор, доктор технических наук
Русинов Леон Абрамович
<br>
Заместитель заведующего кафедрой:
к.т.н., доцент, Куркина Виктория Вадимовна
     <br>
 Заместитель заведующего кафедрой по учебной работе
Куркина Виктория Вадимовна, доцент, к. т. н.


<br>
Заместитель заведующего кафедрой по научной работе

Пешехонов Алексей Анатольевич, доцент, к. т. н.</p>
                        <br>
                    </div>
                     <div id="step2" class="tab-pane fade">
  <h3>Контакты</h3>

                         <p style="padding: 10%">Телефоны: (812) 494-92-53 местный 2553 <br>
E-mail: aphp@technolog.edu.ru<br>

Сайт кафедры: http://aphp.lti-gti.ru</p>
                     </div>
                         <div id="step3" class="tab-pane fade">
                         <h3>Бакалавриат</h3>
                            <p>бакалавры по направлению 15.03.04 «Автоматизация технологических процессов и производств» по направленности «Автоматизация технологических процессов и производств (по отраслям)»;</p>
                     <br>
                             <p>бакалавры по направлению 27.03.04 «Управление в технических системах» по направленности «Системы и средства автоматизации технологических процессов»;</p>

                         </div>
                 <div id="step4" class="tab-pane fade">
                         <h3>Магистратура</h3>
                             <p>магистры по направлению 15.04.04 «Автоматизация технологических процессов и производств», направленность образовательной программы «Управление потенциально-опасными процессами химической технологии»;</p>
                    <br>
                     <p>магистры по направлению 27.04.04 «Управление в технических системах», направленность образовательной программы «Информационное и алгоритмическое обеспечение систем автоматизации технологических процессов»;</p>
                     </div>
                 <div id="step5" class="tab-pane fade">
                         <h3>Аспирантура</h3>
<p>Аспиранты, докторанты и соискатели по специальностям:
09.06.01«Информатика и вычислительная техника»,
12.06.01«Фотоника, приборостроение, оптические и биотехнические приборы и технологии». </p>
                     </div>
                    <div id="step6" class="tab-pane fade">
                         <h3>История кафедры</h3>
                        <p>В 1952 / 1953 учебном году в ЛТИ им. Ленсовета на кафедре «Оборудование химических заводов», возглавляемой заведующим кафедрой Н.А. Козулиным была начата подготовка студентов по специальности «Автоматизация и комплексная механизация химико-технологических процессов».
Кафедра «Автоматизации процессов химической промышленности» была основана в 1957 г. Первым заведующим кафедрой был доцент П.А.Обновленский (1957-1986 гг.). В 1959 г. при кафедре АПХП была организована научно-исследовательская комплексная лаборатория.


Научная тематика кафедры концентрировалась вокруг основного направления посвящённого созданию методологии управления и защиты потенциально-опасных технологических процессов (ПОТП, научным руководителем которого был доцент П.А.Обновленский). Им же по этой проблеме была защищена докторская диссертация. Специфика ПОТП предопределила развитие научных направлений, связанных с их техническим обеспечением, а именно:
• создание бесконтактных методов и средств измерения расхода веществ (руководитель доцент Коротков П.А.);
• разработка методов обработки аналитической информации, систем регламентации потоков веществ (руководитель доцент Гуревич Н.А.);
• разработка новых методов синтеза систем автоматизированного регулирования (руководитель доцент Ильин Б.В.).

В 1977г. преподаватели и сотрудники кафедры приняли активное участие в создании в ЛТИ им. Ленсовета учебного телевидения. Основные технические и методологические задачи при создании телевизионного центра легли на плечи его начальника В.Г.Харазова, прошедшего путь от офицера–подводника до профессора кафедры АПХП, развивающего научное направление, связанное с разработкой нового поколения микропроцессорных регуляторов.


Творческими исполнителями, а в дальнейшем и продолжателями основного научного направления, прошедшими путь от аспирантов кафедры до членов Метрологической академии Российской Федерации, являются декан факультета информатики и управления, а с 1987г. заведующий кафедрой автоматизации процессов химической промышленности профессор Соколов Г.А. и его заместитель по научной работе профессор Русинов Л.А.

Дальнейшее развитие кафедры было связано с организацией её филиалов. В настоящее время при кафедре действует филиал «Автоматизированные технологические комплексы и микропроцессорные системы», возглавляемый генеральным директором АО ВИАСМ профессором В.И. Кубанцевым.
На этапе становления кафедры доцентом Б.В.Ильиным осуществлялось сотрудничество с Высшей школой г. Мерзебург (ГДР), в результате чего были подготовлены три кандидата технических наук ( К. Бидка, М. Штольц и Г. Райнинг).

За время своего существования кафедра и филиал подготовили более 2000 инженеров и более 100 кандидатов и докторов наук. За последние годы сотрудниками кафедры сделано более 50 докладов на конференциях и, в том числе на симпозиумах в Вене и Вашингтоне.
За время с 1997 по 2005 гг. сотрудниками кафедры были защищены 11 кандидатских диссертаций и одна докторская (доцент А.Л.Фокин), опубликованы или депонированы 2 монографии, 31 статья; сделано 56 докладов на конференциях разного уровня, в том числе – международных; получено 2 патента на изобретение.


За внедрение сенсоров на оксид углерода группа сотрудников во главе с доцентом В.А.Савельевым получила Диплом Администрации Санкт-Петербурга на конкурсе «Внедрение - 97». Ученые кафедры АПХП награждены орденами (Б.И.Ильин) и медалями (Б.В. Ильин, П.А. Обновленский, Г.А. Соколов, А.Л. Гуревич, П.А. Коротков, М.В. Соколов, В.Г. Харазов, Д.В. Беляев, Ю.В. Сметанин, Г.В.Иванова, Н.А. Сягаев), а также почётными значками изобретателя СССР за отличные успехи в работе. В настоящее время на кафедре работают 4 доктора технических наук и 10 кандидатов технических наук.</p>

                     </div>
                </div>
        </div></div>
        <div class="container-fluid">
<a class="center-img" href="{% url 'base' %}" style="text-align: center; font-size: 300%;font-family: 'Amatic SC', cursive; color: black; height: 10px"><img
           src={% static "image/назад.png"%} class="round2">
                <br>Назад</a>
</div>
</div>
</body>
