<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>1. Поступающие на обучение вправе представить сведения о своих индивидуальных достижениях, результаты которых учитываются при приеме на обучение.
<br>
2. Учет индивидуальных достижений осуществляется посредством начисления баллов за индивидуальные достижения. Указанные баллы начисляются поступающему, представившему документы, подтверждающие получение результатов индивидуальных достижений, и включаются в сумму конкурсных баллов.
<br>
3. При приеме на обучение по программам бакалавриата, программам специалитета начислюется баллы за следующие индивидуальные достижения (но не более 10 баллов суммарно):
<br>
а) наличие аттестата о среднем общем образовании с отличием или аттестата о среднем общем образовании (среднем (полном) общем образовании), содержащего сведения о награждении золотой или серебряной медалью - 10 баллов;
<br>
б) наличие диплома о среднем профессиональном образовании с отличием – 10 баллов;
<br>
в) Наличие золотого знака отличия  Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» и удостоверения к нему установленного образца – 3 балла.
<br>
4. При приеме на программы подготовки магистратуры в качестве индивидуальных достижений учитывается следующее: средний балл документа об образовании  установленного образца, участие и  результаты участия в III этапе Всероссийской студенческой олимпиады,  наличие публикаций в научных изданиях и участие в научных  конференциях различного уровня с учетом доли авторства, участие в государственных и негосударственных научных программах и конкурсах (грантах), в течение 4 лет, следующих за годом проведения соответствующего конкурса. Порядок начисления баллов за индивидуальные достижения представлен в приложении 4. правил приема. </p>
</body>
</html>