{% extends 'blog/base.html' %}
{% load static %}

{% block main %}
    {% load easy_maps_tags %}
   <div class="container">

  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#home">Об общежитии</a></li>
    <li><a data-toggle="pill" href="#menu1">Для заселения</a></li>
    <li><a data-toggle="pill" href="#menu2">Оплата</a></li>

  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Направление</h3>
        <div class="container-fluid">
            <div class="row">
                 <div class="col-md-9  text-default" style="border-right:1px solid #cccccc;">
                <p>Для студентов 4-го факультета предоставляется Общежитие №1</p>
                    <div class="row">
                        <div class="col-md-6  text-default" style="border-right:1px solid #cccccc;">

<!-- Default map with 300x400 dimensions -->
                        {% easy_map "улица Здоровцева, 14, Санкт-Петербург" 300 400 using "easy_maps/map.html"%}
                        </div>
                        <div class="col-md-6  text-default" style="border-right:1px solid #cccccc;">
<p>Адрес: Здоровцева, 14</p>
         <p>Как добраться:Станция метро «Проспект Ветеранов», далее автобус № 68, № 130 или троллейбус № 37, до остановки: ул.Тамбасова</p>
                 </div>

<h4>Часы приема:</h4>
                          <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#zav">Заведущий</a></li>
    <li><a data-toggle="pill" href="#kom">Комендант</a></li>
    <li><a data-toggle="pill" href="#pas">Паспортистка</a></li>

  </ul>
    </div>
                 </div>
                <div class="col-md-3  text-default" style="border-right:1px solid #cccccc;">
\
                <a><img class="img-responsive2"
           src={% static "image/home.jpg"%}></a>
                 </div>
            </div>
        </div>
      </div>



    <div id="menu1" class="tab-pane fade">
      <h3>При себе иметь</h3>
      <p>Паспорт.</p>
        <p>Ксерокопия паспорта (фото+ регистрация на одном листе).</p>
        <p>Деньги для оплаты проживания в общежитии.</p>
        <p>Извещение (уведомление) о поступлении в СПБГТИ(ТУ) с указанием № факультета (выдают в приемной комиссии).</p>
        <p>Медицинский полис (проверить срок действия полиса).</p>
        <p>Сертификат о прививках</p>
        <p>2 фотографии 3x4</p>
        <h4>Юношам (для граждан РФ) сняться с воинского учета по месту жительства, взять приписное или военный билет.
</h4>
        <h4>С регистрации по месту прописки не сниматься.</h4>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Оплата</h3>
      <p>Печать
Плата за проживание и услуги в общежитии вносится ежемесячно не позднее 10 числа следующего месяца или вперед.

Можно произвести оплату по безналичному расчету, реквизиты:


Реквизиты СПбГТИ(ТУ)



Федеральное государственное бюджетное образовательное учреждение высшего образования «Санкт- Петербургский государственный технологический институт (технический университет)» (СПбГТИ(ТУ))

ИНН 7809012725     КПП 783801001

ОГРН 1027810258761     ОКВЭД 80.30.1, 73.10

ОКПО 02068479  ОКАТО 40262564000

ОКТМО 40304000



Место нахождения:190013, г. Санкт-Петербург, Московский пр., дом 26,


Банковские реквизиты: УФК по

г. Санкт-Петербургу (СПбГТИ(ТУ),

л./сч. 20726Х60190,

р./сч. 40501810300002000001 в Северо-Западном ГУ Банка России, г. Санкт-Петербург,

БИК 044030001

Телефон: (812) 317-94-46

E-mail: office@technolog.edu.ru
ВНИМАНИЕ ! Если по каким-либо причинам Вы в общежитии проживать не будете, необходимо сняться с регистрационного учета и погасить долги по оплате за проживание и белью, в противном случае при наличии регистрации в общежитии оплата продолжает начисляться!!!!</p>
    </div>

  </div>
</div>
{% endblock %}