{% extends 'blog/base.html' %}
{% load static %}
{% block main %}

<div  id="p" class="container-fluid"  style="background-image: url('{% static "image/2.jpg" %}'); background-size: cover; height: 100%; /* Высота блока */">
<h1 align="left" style="  font-size: 850%;font-family: 'Amatic SC', cursive; color: white">фАКУЛЬТЕТ </h1>
<h1 align="left" style="  font-size: 750%;font-family: 'Amatic SC', cursive; color: white">ИНФОРМАЦИОННЫХ </h1>
<h1 align="left" style="  font-size: 700%;font-family: 'Amatic SC', cursive; color: white">ТЕХНОЛОГИЙ И УПРАВЛЕНИЯ</h1>
</div>
    <div class="container" style="padding: 50px;">
    <h1 align="center"     style="font-size: 500%; font-family: 'Amatic SC', cursive;">Ступени поступления</h1>
    </div>
    <div class="container">
            <div class="col-sm-4">
            <ul class="nav nav-pills nav-stacked" >

                        <li class="active"><a data-toggle="pill" href="#step1">Выбираю направление</a></li>




                        <li><a data-toggle="pill" href="#step2">Ознакамливаюсь с правилами приёма</a></li>



                        <li><a data-toggle="pill" href="#step3">Сдаю вступительные испытания</a></li>



                        <li><a data-toggle="pill" href="#step4">Подаю документы</a></li>



                        <li><a data-toggle="pill" href="#step5">Убеждаюсь в поступлении</a></li>

            </ul>
         </div>

            <div class="col-sm-8">
                <div class="tab-content">
                    <div id="step1" class="tab-pane fade in active">

                        Процесс поступления начинается не со сдачи ЕГЭ, сборов документов и прочих организационных моментов, а с постановки цели, к которой вы идете. Чтобы четко поставить
                             цель и двигаться к своей мечте, необходимо внимательно изучить направления, программы подготовки. Сделай правильно свой выбор!</a><br>
 <a href={% static "file1.pdf"%}>Перечень специальностей и направлений подготовки с указанием условий поступления в 2018 году</a>
                    </div>
                     <div id="step2" class="tab-pane fade">


                         <a href={% static "file.pdf"%}>Правила приёма 2018</a><br>
                          <a href={% static "file2.pdf"%}>Количество мест для приёма на обучение (контрольные цифры приёма) на бюджет 2018</a><br>
                          <a href={% static "file3.pdf"%}>Количество мест для приёма на обучение по договорам об оказании платных образовательных услуг 2018</a><br>
                         <a href="{% url 'dostijenia' %}">Информация о порядке учета индивидуальных достижений поступающего</a>
                     </div>
                         <div id="step3" class="tab-pane fade">
                         <h3>Программа</h3>
                             <a href={% static "file4.pdf"%}>Перечень вступительных испытаний с указанием приоритетности вступительных испытаний при ранжировании списков поступающих </a><br>
                    <a href={% static "file5.pdf"%}>Перечень вступительных испытаний для каждого отдельного конкурса с указанием минимального количества баллов по каждому предмету в 2018 году</a><br>
                    <a href={% static "file6.pdf"%}>Информация о формах проведения вступительных испытаний, проводимых организацией самостоятельно</a><br>
                              <a href={% static "file7.pdf"%}>Информация о сроках проведения приема для каждой совокупности условий поступления в СПбГТИ(ТУ) в 2018 году</a><br>
                     </div>
                 <div id="step4" class="tab-pane fade">
                         <h3>Программа</h3>
                             <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                 <div id="step5" class="tab-pane fade">
                         <h3>Программа</h3>
                             <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                </div>
        </div>
</div>
      <div class="container" style="padding: 25px;"></div>
     <div class="container-fluid" style="padding: 50px;background-color: black">
    <h1 align="center"     style="font-size: 500%;font-family: 'Amatic SC', cursive; color: white">Кафедры факультета</h1>
    </div>
    <div class="container-fluid" style="background-color: black" >
            <div class="row">
                <div class="col-sm-3" >


                <a  class="fig" href="{% url 'aphp' %}" ><img
           src={% static "image/кх.png"%} class="round" >
                <br>Кафедра автоматизации процессов химической промышленности</a>


                </div>
                 <div class="col-sm-3" >
                <a class="fig" href="{% url 'sapr' %}"><img
           src={% static "image/кап.png"%} class="round">
                <br>Кафедра систем автоматизированного проектирования и управления</a>
            </div>
                 <div class="col-sm-3" >
                <a  class="fig" href="{% url 'sa' %}"><img
           src={% static "image/кса.png"%} class="round">
                <br>Кафедра системного анализа и информационных технологий </a>
            </div>
                 <div class="col-sm-3" >
                <a  class="fig" href="{% url 'km' %}"><img
           src={% static "image/км.jpg"%} class="round" >
               <br> Кафедра математики</a>
            </div>
            </div>
    </div>

    <div class="container"  style="padding: 20px;">
    <p> Наш факультет один из самых молодых в университете. Мы добиваемся, чтобы студенты были интегрированы в научные исследования. Если говорить об аналитических технологиях, то нужно выходить на сверхновые направления, на технологии создания искусственного интеллекта. Когда мы решаем задачу, исходя из здравого смысла, то выбираем самый лучший шаг из имеющихся, затем второй – тоже лучший и так далее. Но с точки зрения системного анализа, конечное решение получается не оптимальным. Классика системного анализа утверждает: оптимальное решение может получиться как раз посредством неоптимальных шагов, в результате произвольного набора. Так называемый метод эволюционной оптимизации – это новое перспективное направление. И мы движемся в этом направлении. Второй уровень интеграции: факультет - производство. Таким образом, объединяется интеллектуальный потенциал студентов, преподавателей и специалистов для решения задач на реальном производстве.
  Александр Мусаев, декан факультета информационных технологий и управления, доктор технических наук, профессор</p>
    </div>


{% endblock %}